# Data Cleaning

This notebook goes through a necessary step of any data science project - data cleaning. Data cleaning is a time consuming and unenjoyable task, yet it's a very important one. Keep in mind, "garbage in, garbage out". Feeding dirty data into a model will give us results that are meaningless.

Specifically, we'll be walking through:

1. **Getting the data - **in this case, we'll be scraping data from a website
2. **Cleaning the data - **we will walk through popular text pre-processing techniques
3. **Organizing the data - **we will organize the cleaned data into a way that is easy to input into other algorithms

The output of this notebook will be clean, organized data in two standard text formats:

1. **Corpus** - a collection of text
2. **Document-Term Matrix** - word counts in matrix format

In [1]:
# Web scraping, pickle imports
import requests
#from bs4 import BeautifulSoup
import pickle
import pandas as pd

# Web scraping stuff from Samyak
nifty = pd.read_csv("nifty50_news_combined.csv")
# Stock names
stocks = []
nifty.head()
nifty.iloc[2]["Content"]

/Users/amywang/553.441 Equity Markets & Quant Trading/EMQT/equityproject/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

'\n\n\n\n(You can now subscribe to our\n\n(You can now subscribe to our Economic Times WhatsApp channel\n\nNEW DELHI: Pharma major Dr Reddy\'s Laboratories Thursday said it has appointed Axis Bank \'s former MD and CEO Shikha Sharma as company\'s independent additional director for five years."Shikha Sanjaya Sharma has been appointed as an additional director, categorised as independent, on the Board of Dr Reddy\'s Laboratories Ltd for a period of five years, effective January 31, 2019," the company said in a filing to the BSE.Sharma was the Managing Director and CEO of Axis Bank from June 2009 up to December 2018, it added.She has more than three decades of experience in the financial sector, having begun her career with ICICI Bank Ltd in 1980. During her tenure with the ICICI group, she was instrumental in setting up ICICI Securities, Dr Reddy\'s said.Sharma holds an MBA from the Indian Institute of Management, Ahmedabad and PGD in Software Technology from National Centre for Software Technology, Mumbai, it added.Shares of Dr Reddy\'s Laboratories closed at Rs 2,723.75 per scrip on the BSE, up 2.21 per cent from its previous close.'

In [ ]:
# Pickle files for later use

# Make a new directory to hold the text files
!mkdir news

for i, c in enumerate(stocks):
    with open("news/" + c + ".txt", "wb") as file:
        pickle.dump(transcripts[i], file)

In [ ]:
# Load pickled files
data = {}
for i, c in enumerate(stocks):
    with open("news/" + c + ".txt", "rb") as file:
        data[c] = pickle.load(file)

In [ ]:
# Double check to make sure data has been loaded properly
data.keys()

## Cleaning The Data

When dealing with numerical data, data cleaning often involves removing null values and duplicate data, dealing with outliers, etc. With text data, there are some common data cleaning techniques, which are also known as text pre-processing techniques.

With text data, this cleaning process can go on forever. There's always an exception to every cleaning step. So, we're going to follow the MVP (minimum viable product) approach - start simple and iterate. Here are a bunch of things you can do to clean your data. We're going to execute just the common cleaning steps here and the rest can be done at a later point to improve our results.

**Common data cleaning steps on all text:**
* Make text all lower case
* Remove punctuation
* Remove numerical values
* Remove common non-sensical text (/n)
* Tokenize text
* Remove stop words

**More data cleaning steps after tokenization:**
* Stemming / lemmatization
* Parts of speech tagging
* Create bi-grams or tri-grams
* Deal with typos
* And more...

In [ ]:
# Let's take a look at our data again
next(iter(data.keys()))

In [ ]:
# Notice that our dictionary is currently in key: news, value: list of text format
next(iter(data.values()))

In [ ]:
# We are going to change this to key: comedian, value: string format
def combine_text(list_of_text):
    '''Takes a list of text and combines them into one large chunk of text.'''
    combined_text = ' '.join(list_of_text)
    return combined_text

In [ ]:
# Combine it!
data_combined = {key: [combine_text(value)] for (key, value) in data.items()}

In [ ]:
# We can either keep it in dictionary format or put it into a pandas dataframe
import pandas as pd
pd.set_option('max_colwidth',150)

data_df = pd.DataFrame.from_dict(data_combined).transpose()
data_df.columns = ['news']
data_df = data_df.sort_index()
data_df

In [2]:
# Apply a first round of text cleaning techniques
import re
import string

def clean_text_round1(text):
    '''Make text lowercase, remove text in square brackets, remove punctuation and remove words containing numbers.'''
    text = str(text)
    if(text is None or text.isnumeric()): 
        return ""
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

round1 = lambda x: clean_text_round1(x)

In [3]:
# Let's take a look at the updated text
data_clean = pd.DataFrame(nifty.Content.apply(round1))
data_clean

                                                 Content
0      an independent inquiry initiated by icici bank...
1                                                    nan
2      \n\n\n\nyou can now subscribe to our\n\nyou ca...
3      answer videocon – that is the reason why video...
4      money back guarantee\n\ndeliberate act\n\nwhat...
...                                                  ...
12947  lt finance lt infra credit and five other nonb...
12948                                                nan
12949                                                nan
12950  how lt is driving indias green hydrogen boom\n...
12951  sunpure a leading global supplier of pv roboti...

[12952 rows x 1 columns]

In [4]:
# Apply a second round of cleaning
def clean_text_round2(text):
    '''Get rid of some additional punctuation and non-sensical text that was missed the first time around.'''
    text = re.sub('[‘’“”…]', ' ', text)
    text = re.sub('\n', ' ', text)
    return text

round2 = lambda x: clean_text_round2(x)

In [5]:
# Let's take a look at the updated text
data_clean = pd.DataFrame(data_clean.Content.apply(round2))
data_clean

                                                 Content
0      an independent inquiry initiated by icici bank...
1                                                    nan
2          you can now subscribe to our  you can now ...
3      answer videocon – that is the reason why video...
4      money back guarantee  deliberate act  what now...
...                                                  ...
12947  lt finance lt infra credit and five other nonb...
12948                                                nan
12949                                                nan
12950  how lt is driving indias green hydrogen boom  ...
12951  sunpure a leading global supplier of pv roboti...

[12952 rows x 1 columns]

In [6]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /Users/amywang/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [14]:
#tokenize
from nltk.tokenize import word_tokenize
def tokenize(text):
    if(text is None): 
        return ""
    return word_tokenize(text)
tokens = lambda x: tokenize(x)
tok = pd.DataFrame(data_clean.Content.apply(tokens))
tok

                                                 Content
0      [an, independent, inquiry, initiated, by, icic...
1                                                  [nan]
2      [you, can, now, subscribe, to, our, you, can, ...
3      [answer, videocon, –, that, is, the, reason, w...
4      [money, back, guarantee, deliberate, act, what...
...                                                  ...
12947  [lt, finance, lt, infra, credit, and, five, ot...
12948                                              [nan]
12949                                              [nan]
12950  [how, lt, is, driving, indias, green, hydrogen...
12951  [sunpure, a, leading, global, supplier, of, pv...

[12952 rows x 1 columns]

## Organizing The Data

I mentioned earlier that the output of this notebook will be clean, organized data in two standard text formats:
1. **Corpus - **a collection of text
2. **Document-Term Matrix - **word counts in matrix format

### Corpus

We already created a corpus in an earlier step. The definition of a corpus is a collection of texts, and they are all put together neatly in a pandas dataframe here.

In [ ]:
# Let's take a look at our dataframe
data_df

In [ ]:
# Let's add the tickers as well
tickers = []

data_df['tickers'] = ticker
data_df

In [ ]:
# Let's pickle it for later use
data_df.to_pickle("corpus.pkl")

### Document-Term Matrix

For many of the techniques we'll be using in future notebooks, the text must be tokenized, meaning broken down into smaller pieces. The most common tokenization technique is to break down text into words. We can do this using scikit-learn's CountVectorizer, where every row will represent a different document and every column will represent a different word.

In addition, with CountVectorizer, we can remove stop words. Stop words are common words that add no additional meaning to text such as 'a', 'the', etc.

In [ ]:
# We are going to create a document-term matrix using CountVectorizer, and exclude common English stop words
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')
data_cv = cv.fit_transform(data_clean.transcript)
data_dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
data_dtm.index = data_clean.index
data_dtm

In [ ]:
# Let's pickle it for later use
data_dtm.to_pickle("dtm.pkl")

In [ ]:
# Let's also pickle the cleaned data (before we put it in document-term matrix format) and the CountVectorizer object
data_clean.to_pickle('data_clean.pkl')
pickle.dump(cv, open("cv.pkl", "wb"))

## Sentiment Analysis using Textblob

So far, all of the analysis we've done has been pretty generic - looking at counts, creating scatter plots, etc. These techniques could be applied to numeric data as well.

When it comes to text data, there are a few popular techniques that we'll be going through in the next few notebooks, starting with sentiment analysis. A few key points to remember with sentiment analysis.

1. **TextBlob Module:** Linguistic researchers have labeled the sentiment of words based on their domain expertise. Sentiment of words can vary based on where it is in a sentence. The TextBlob module allows us to take advantage of these labels.
2. **Sentiment Labels:** Each word in a corpus is labeled in terms of polarity and subjectivity (there are more labels as well, but we're going to ignore them for now). A corpus' sentiment is the average of these.
   * **Polarity**: How positive or negative a word is. -1 is very negative. +1 is very positive.
   * **Subjectivity**: How subjective, or opinionated a word is. 0 is fact. +1 is very much an opinion.

For more info on how TextBlob coded up its [sentiment function](https://planspace.org/20150607-textblob_sentiment/).

Let's take a look at the sentiment of the various transcripts, both overall and throughout the comedy routine.

In [ ]:
# We'll start by reading in the corpus, which preserves word order
import pandas as pd

data = pd.read_pickle('corpus.pkl')
data

In [ ]:
# Create quick lambda functions to find the polarity and subjectivity of each routine
# Terminal / Anaconda Navigator: conda install -c conda-forge textblob
from textblob import TextBlob

pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity

data['polarity'] = data['news'].apply(pol)
data['subjectivity'] = data['news'].apply(sub)
data

In [ ]:
# Let's plot the results
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = [10, 8]

for index, news in enumerate(data.index):
    x = data.polarity.loc[news]
    y = data.subjectivity.loc[news]
    plt.scatter(x, y, color='blue')
    plt.text(x+.001, y+.001, data['full_name'][index], fontsize=10)
    plt.xlim(-.01, .12) 
    
plt.title('Sentiment Analysis', fontsize=20)
plt.xlabel('<-- Negative -------- Positive -->', fontsize=15)
plt.ylabel('<-- Facts -------- Opinions -->', fontsize=15)

plt.show()

## Sentiment Analysis using Vader

In [ ]:
# import SentimentIntensityAnalyzer class
# from vaderSentiment.vaderSentiment module.
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
 
# sentiments of the sentence.
def sentiment_scores(sentence):
 
    # Create a SentimentIntensityAnalyzer object.
    sid_obj = SentimentIntensityAnalyzer()
 
    # polarity_scores method of SentimentIntensityAnalyzer
    # object gives a sentiment dictionary.
    # which contains pos, neg, neu, and compound scores.
    sentiment_dict = sid_obj.polarity_scores(sentence)
     
#     print("Overall sentiment dictionary is : ", sentiment_dict)
#     print("sentence was rated as ", sentiment_dict['neg']*100, "% Negative")
#     print("sentence was rated as ", sentiment_dict['neu']*100, "% Neutral")
#     print("sentence was rated as ", sentiment_dict['pos']*100, "% Positive")
 
#     print("Sentence Overall Rated As", end = " ")
 
#     # decide sentiment as positive, negative and neutral
#     if sentiment_dict['compound'] >= 0.05 :
#         print("Positive")
 
#     elif sentiment_dict['compound'] <= - 0.05 :
#         print("Negative")
 
#     else :
#         print("Neutral")

In [1]:
#for each sentence, add the sentiment into column of data frame
#might need to change starting dataframe to accomodate for sentences?

## Sentiment Analysis using FinBert

In [ ]:
from transformers import BertForSequenceClassification, BertTokenizer
import torch

tokenizer = BertTokenizer.from_pretrained('ProsusAI/finbert')
model = BertForSequenceClassification.from_pretrained('ProsusAI/finbert')